* {
  font-family: 'Fanwood Text';
  color: #006666;
}

body {
  display: block;
  height: 100em;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
}

.container {
  display: block;
}

.small-nav {
  position: fixed;
  width: 100%;
  background-color: #006666;
  box-shadow: 0 5px 5px -5px #000;
  z-index: 90000000;
}

.dropdown-nav {
  padding: 1.5em;
  float: left;
}

.dropdown-toggle {
  background-color: #006666;
  border: none;
  border-radius: 0;
}

.glyphicon-menu-hamburger {
  color: #fff;
}

.dropdown-logo-col {
  display: block;
  width: 10em;
  margin: auto;
  padding: 1em;
}

.dropdown-logo {
  width: 8em;
}

.full-nav {
  display: none;
}

.container {
  padding-top: 7em;
}

p, h2 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

p {
  max-width: 650px;
  margin-bottom: 0;
}

p, li {
  font-size: 1.4em;
}

.text-block {
  display: block;
  width: 90%;
  margin: auto;
}

li {
  line-height: 2.5em;
  text-align: center;
}

li a {
  color: #006666;
}

li a:hover {
  text-decoration: none;
  color: #006666;
}

.dropdown-button {
  height: 2.5em;
}

.home-pic {
  display: none;
}

.pic-outer-container {
  display: block;
  width: 100%;
}

.pic-inner-container {
  display: block;
  width: 100%;
  max-width: 340px;
  margin: auto;
}

.outline-pic {
  width: 100%;
  max-width: 340px;
  margin: auto;
  padding-bottom: 1em;
}

.centered-pic {
  display: block;
  margin: auto;
}

.ornament {
  width: 35px;
  padding: 2em 0;
}

.mobile-cta {
  display: block;
  border: 1px solid;
  border-radius: 2px;
  background-color: #006666;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 0.5em;
  margin: 1em auto;
}

.footer-container {
  display: block;
  width: 300px;
  margin: auto;
  padding-top: 1em;
}

.row {
  display: block;
  width: 98%;
  margin: auto;
}

.footer-links {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 0 0.45em;
}

.slideshow-big {
  display: none;
}

.slide {
  display: block;
  width: 100%;
  height: 300px;
}

.slideshow-pic-small {
  width: 100%;
  margin: auto;
}

.view-full-gallery {
  display: block;
  width: 90%;
  margin: auto;
  padding-top: 0.5em;
  text-align: right;
  font-size: 0.9em;
}

.tradition-header-inner-container {
  padding: 0 1em;
  margin: auto;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
}

.header-ornament-left, .header-ornament-right {
  display: none;
}

.tradition-line {
  border: none;
}

.tradition-top {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Bilbo Swash Caps";
}

.header-ornament-left {
  vertical-align: top;
  margin-top: 10px;
}

.header-ornament-right {
  vertical-align: top;
  margin-top: 10px;
}

.full-divider-line {
  display: none;
}

.full-footer {
  display: none;
}

.mobile-footer-row {
  display: block;
  background-color: #006666;
  height: 80px;
  border: 1px solid #000000;
  border-bottom: 0;
}

.mobile-footer-inner-container {
  width: 200px;
  margin: auto;
}

.mobile-footer-inner-container p {
  color: #fff;
  font-size: 1.9em;
  line-height: 80px;
  margin-bottom: 0;
}

.mobile-contact-icon {
  position: relative;
  right: 20px;
  color: #fff;
  font-size: 1em;
}

.mobile-fine-print-row {
  background-color: #006666;
  border: 1px solid black;
  padding: 1em 0;
}

.mobile-fine-print-inner-container {
  width: 200px;
  margin: auto;
}

.mobile-fine-print-row p {
  color: #fff;
  font-size: 0.7em;
}

.gary-pic {
  display: block;
  margin: auto;
  border-radius: 2px;
}

.about-top-pic {
  display: block;
  margin: auto;
  border: 2px solid #006666;
  border-radius: 2px;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.about-bottom-pic {
  display: block;
  margin: auto;
  border: 2px solid #006666;
  border-radius: 2px;
  width: 100%;
}

.header {
  display: inline-block;
  font-weight: bold;
  padding: 0 1em;
  margin-bottom: 1em;
}

.header-container {
  display: block;
  width: 248px;
  margin: auto;
}

.header-ornament {
  position: relative;
  top: -3px;
}

/***********************************************************************
*/

@media (min-width: 650px) {

.small-nav {
  display: none;
}

.full-nav {
  display: block;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease;
  box-shadow: 0 5px 5px -5px #006666;
}

.full-nav-inner-container {
  max-width: 1000px;
  margin: auto;
}

.full-nav-sticky {
  display: block;
  position: fixed;
  width: 100%;
  height: 5em;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
  transition: all 0.4s ease;
  z-index: 100;
}

.logo-col {
  display: block;
}

.logo-col-sticky {
  display: inline-block;
  width: 22%;
}

.logo-container {
  width: 261px;
  margin: auto;
}

.logo-container-sticky {
  width: 100%;
}

.logo {
  padding: 1em;
  width: 261px;
}

.logo-sticky {
  width: 150px;
  padding-left: 2em;
}

.nav-col {
  display: block;
}

.nav-col-sticky {
  display: inline-block;
  width: 77%;
}

.nav-container {
  display: block;
  width: 90%;
  margin: auto;
  padding: 1em 0 1em;
}

.nav-link {
  display: inline-block;
  padding-left: 7%;
  font-size: 1.5em;
}

.nav-link-sticky {
  padding-left: 5%;
}

.container {
  padding-top: 16em;
}

.container-sticky {
  padding-top: 9em;
}

.big-a {
  font-size: 2em;
  line-height: 1.0em;
}

.view-full-gallery {
  display: none;
}

.top-text {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

.middle-text {
  display: block;
  width: 90%;
  margin: auto;
}

.bottom-text {
  display: block;
  width: 90%;
  margin: auto;
}

.slideshow-small {
  display: none;
}

.slideshow-big {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.slideshow-pic-big {
  width: 100%;
  margin: auto;
}

.slide {
  display: block;
  width: 700px;
  height: 400px;
}

.outline-pic {
  display: none;
}

.tradition-header-container {
  display: block;
  height: 40px;
  width: 90%;
  max-width: 700px;
  margin-top: 1em;
  margin: auto;
}

.tradition-header-inner-container {
  width: 362px;
  padding: 0 1em;
  margin: auto;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
}

.header-ornament-right, .header-ornament-left {
  display: inline-block;
}

.tradition-line {
  height: 20px;
  border-bottom: 1px solid #006666;
  max-width: 800px;
}

.tradition-top {
  display: inline;
  padding: 0 0.5em;
  line-height: 40px;
  font-family: "Bilbo Swash Caps";
}

.header-ornament-left {
  vertical-align: top;
  margin-top: 10px;
}

.header-ornament-right {
  vertical-align: top;
  margin-top: 10px;
}

.mobile-footer {
  display: none;
}

.full-footer {
  display: block;
  background-color: #006666;
  padding-bottom: 1em;
}

.footer-row {
  width: 600px;
  margin: auto;
  padding-top: 2em;
}

.footer-logo-col {
  display: inline-block;
  margin-right: 3em;
}

.footer-logo {
  width: 170px;
  position: relative;
  top: -20px;
}

.footer-contact-info-col {
  display: inline-block;
  padding: 1em 2.5em;
}

.footer-contact-info-col p {
  color: #fff;
  font-size: 1.2em;
}

p.glyph {
  font-size: 1.8em;
  margin: auto;
}

.contact-icon {
  color: #fff;
}

.footer-text-info-col {
  display: none;
}

}

/***********************************************************************
*/

@media (min-width: 700px) {

.nav-link {
  padding-left: 8%;
}

.nav-link-sticky {
  padding-left: 5%;
}

.home-link-sticky {
  margin-left: 1em;
}

}

/***********************************************************************
*/

@media (min-width: 750px) {

.nav-link {
  padding-left: 9%;
}

.nav-link-sticky {
  padding-left: 5%;
}

.home-link-sticky {
  margin-left: 2em;
}

}

/***********************************************************************
*/

@media (min-width: 800px) {

.container {
  padding-top: 12em;
}

.full-nav-sticky {
  height: 5.4em;
}

.logo-col {
  display: inline-block;
  width: 37%;
}

.logo-col-sticky {
  display: inline-block;
  width: 22%;
}

.logo-container {
  width: 261px;
  margin: auto;
}

.logo-container-sticky {
  margin: 0;
}

.logo {
  padding: 1em;
  width: 261px;
}

.logo-sticky {
  width: 150px;
  padding-left: 2em;
  margin-left: 1em;
}

.nav-col {
  display: inline-block;
  width: 60%;
}

.nav-col-sticky {
  display: inline-block;
  width: 77%;
}

.nav-link {
  display: inline-block;
  padding-top: 10px;
  padding-left: 4%;
  font-size: 1.5em;
}

.nav-link-sticky {
  padding-left: 5%;
}

.home-link-sticky {
  margin-left: 3em;
}

}

/***********************************************************************
*/

@media (min-width: 850px) {

.nav-link {
  padding-left: 5%;
}

.nav-link-sticky {
  padding-left: 5%;
}

}

/***********************************************************************
*/

@media (min-width: 900px) {

.nav-link {
  padding-left: 6%;
}

.nav-link-sticky {
  padding-left: 5%;
}


/***********************************************************************
*/

@media (min-width: 1000px) {

.nav-link {
  padding-left: 7%;
}

.nav-link-sticky {
  padding-left: 5%;
}

.home-link {
  padding-left: 2em;
}

.home-link-sticky {
  padding-left: 5em;
}

.slideshow-big {
  display: block;
  width: 700px;
  height: 400px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.slideshow-pic-big {
  width: 700px;
  height: 400px;
  margin: auto;
}

.slide {
  display: block;
  width: 700px;
  height: 400px;
}


.small-divider {
  display: none;
}

.full-divider-line {
  display: block;
}

.side-ornament {
  display: inline-block;
}

.center-ornament {
  position: relative;
  left: 336px;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
}

.full-line {
  display: inline-block;
  vertical-align: top;
  height: 11px;
  width: 724px;
  margin: auto;
  border-bottom: 1px solid #006666;
}

.row {
  width: 800px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
}

.home-pic {
  display: inline-block;
}

div p, h2 {
  text-align: center;
}

.top-text {
  display: inline-block;
  margin-top: 10px;
  width: 350px;
}

.top-photo {
  width: 374px;
  border: 1px solid #006666;
  border-radius: 2px;
  margin-left: 73px;
  vertical-align: top;
}

.middle-text {
  display: inline-block;
  margin-top: 20px;
  width: 374px;
  margin-left: 111px;
}

.middle-photo {
  width: 312px;
  border: 1px solid #006666;
  border-radius: 2px;
  margin: auto;
  vertical-align: top;
}

.bottom-text {
  display: inline-block;
  margin-top: 10px;
  width: 350px;
}

.bottom-photo {
  width: 371px;
  border: 1px solid #006666;
  border-radius: 2px;
  vertical-align: top;
  margin-left: 76px;
}

.mobile-footer {
  display: none;
}

.full-footer {
  display: block;
  background-color: #006666;
  padding-bottom: 1em;
}

.footer-row {
  width: 800px;
  margin: auto;
  padding-top: 0;
}

.footer-logo-col {
  display: inline-block;
  margin-right: 3em;
}

.footer-logo {
  width: 170px;
  position: relative;
  top: -20px;
}

.footer-contact-info-col {
  display: inline-block;
  padding: 1em 2.5em;
}

.footer-contact-info-col p {
  color: #fff;
  font-size: 1.2em;
}

p.glyph {
  font-size: 1.8em;
  margin: auto;
}

.contact-icon {
  color: #fff;
}

.footer-text-info-col {
  display: inline-block;
  position: relative;
  left: 50px;
  top: 20px;
}

p.footer-info {
  color: #fff;
  font-size: 1em;
  text-align: right;
}


}