.html
{
  background-image: url("imgs/crossword.jpg") repeat left top scroll;
}

.small-nav {
  position: fixed;
  width: 100%;
  background-color: #006666;
  box-shadow: 0 5px 5px -5px #006666;
}

.dropdown-nav {
  padding: 1.5em;
  float: left;
}

.dropdown-logo-col {
  display: block;
  width: 10em;
  margin: auto;
  padding: 1em;
}

.dropdown-logo {
  width: 8em;
}

.full-nav {
  display: none;
}

body {
  display: block;
  height: 100em;
  background-image: url('../imgs/crossword.jpg');
  background-repeat: repeat;
}
/***********************************************************************
*/

@media (min-width: 600px) {

header {
  background-color: transparent;
  transition: all 0.4s ease;
}

.small-nav {
  display: none;
}

.full-nav {
  display: block;
}

.logo-col {

}

.nav-col {
  background-image: url("imgs/crossword.jpg") repeat left top scroll;
}

}

.nav-link {

}

}
